n8n_flow_json/lead generation flow (7).json
{
  "name": "lead generation flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        2000
      ],
      "id": "9ceea9b9-1f48-439d-acec-7868f2bb54d8",
      "name": "Job Polling Timer (15s)"
    },
    {
      "parameters": {
        "jsCode": "// Get admin with available job capacity\nconst admins = $input.all().map(item => item.json);\nconst availableAdmins = [];\n\nfor (const admin of admins) {\n  // Check current running jobs for this admin\n  const runningJobsQuery = {\n    admin_id: admin.id,\n    status: 'running'\n  };\n  \n  availableAdmins.push({\n    ...admin,\n    // We'll check running jobs in the next step\n    priority: admin.max_concurrent_jobs || 3\n  });\n}\n\n// Sort by priority (max concurrent jobs desc)\navailableAdmins.sort((a, b) => b.priority - a.priority);\n\nreturn availableAdmins.map(admin => ({ json: admin }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        2000
      ],
      "id": "64929d15-8dfe-47be-8cfb-c30539aa89fa",
      "name": "Process Admin Capacity"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scrape_jobs",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        2000
      ],
      "id": "b5807053-3833-4bb0-b4fd-eda5406906e9",
      "name": "Get Pending Jobs",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-pending-jobs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1008,
        2000
      ],
      "id": "2249f1da-1d8c-47e8-ae05-55845999289f",
      "name": "Has Pending Jobs?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get all admins from previous node and filter for active ones only\nconst allAdmins = $('Process Admin Capacity').all().map(item => item.json);\nconst admins = allAdmins.filter(admin => {\n  // Filter for admins with status = \"active\"\n  return admin.status === 'active';\n});\n\nconst pendingJobs = $('Get Pending Jobs').all().map(item => item.json);\n\n// Debug logging\nconsole.log(`Total admins from database: ${allAdmins.length}`);\nconsole.log(`Active admins after filtering: ${admins.length}`);\nconsole.log(`Pending jobs: ${pendingJobs.length}`);\n\n// Log admin details for debugging\nallAdmins.forEach(admin => {\n  console.log(`Admin ${admin.id} (${admin.email}): status = \"${admin.status}\"`);\n});\n\nif (!pendingJobs.length) {\n  console.log('No pending jobs found');\n  return [];\n}\n\nif (!admins.length) {\n  console.log('No active admins found - all admins have status other than \"active\"');  \n  return [];\n}\n\nconsole.log(`Found ${admins.length} active admins and ${pendingJobs.length} pending jobs`);\n\nconst jobAssignments = [];\n\n// SIMPLE ROUND-ROBIN ASSIGNMENT (only among ACTIVE admins)\nfor (let jobIndex = 0; jobIndex < pendingJobs.length && jobIndex < admins.length; jobIndex++) {\n  const job = pendingJobs[jobIndex];\n  const admin = admins[jobIndex % admins.length]; // Round-robin assignment among active admins only\n  \n  // Verify admin status is active before assignment (extra safety check)\n  if (admin.status !== 'active') {\n    console.log(`WARNING: Skipping non-active admin ${admin.id} (${admin.email}) with status: ${admin.status}`);\n    continue;\n  }\n  \n  // NO KEYWORD CHECKING - ANY ACTIVE ADMIN CAN TAKE ANY JOB\n  jobAssignments.push({\n    job_id: job.id,\n    admin_id: admin.id,\n    admin_email: admin.email,\n    admin_name: admin.name,\n    area_id: job.area_id,\n    keyword: job.keyword,\n    created_at: job.created_at,\n    // Add completion webhook URL \n    completion_webhook: `${$vars.N8N_WEBHOOK_URL || 'http://localhost:5678/webhook'}/job-completion`\n  });\n  \n  console.log(`✅ Assigned job ${job.id} (${job.keyword}) to ACTIVE admin ${admin.email} (ID: ${admin.id}, status: ${admin.status})`);\n}\n\nconsole.log(`Total assignments made: ${jobAssignments.length}`);\n\n// Final verification - log all assigned admin IDs\nconst assignedAdminIds = jobAssignments.map(assignment => assignment.admin_id);\nconsole.log(`Jobs assigned to admin IDs: [${assignedAdminIds.join(', ')}]`);\n\nreturn jobAssignments.map(assignment => ({ json: assignment }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        1920
      ],
      "id": "a941c5ab-5cdc-44da-b3ea-da77ac8b434b",
      "name": "Match Jobs to Admins"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-assignments",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1488,
        1920
      ],
      "id": "82702f66-efda-4729-911b-2769164d03c4",
      "name": "Has Job Assignments?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scrape_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "running"
            },
            {
              "fieldId": "assigned_to_uuid",
              "fieldValue": "={{ $json.admin_id }}"
            },
            {
              "fieldId": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        1840
      ],
      "id": "6e00a725-9ead-42a3-8212-b47cbc7f3ce5",
      "name": "Claim Job (Update Status)",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "areas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.area_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1968,
        1840
      ],
      "id": "b4b25d00-5064-49cd-bd5b-97e3b0b98edc",
      "name": "Get Area Details",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cities",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.city_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        1840
      ],
      "id": "6efad9dd-385c-4cf3-bf2d-a87d72174abb",
      "name": "Get City Details",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare job data for the Python scraper server\nconst jobData = $('Claim Job (Update Status)').first().json;\nconst areaData = $('Get Area Details').first().json;\nconst cityData = $('Get City Details').first().json;\nconst countryData = $('Get Country Details1').first().json;\n\n// Build the area name for Google Maps search\nconst areaName = `${areaData.name}, ${cityData.name}, ${countryData.name}`;\n\n// Prepare the payload for the async scraper\nconst scraperPayload = {\n  job_id: jobData.id,\n  area_id: areaData.id,\n  keyword: jobData.keyword,\n  search_term: jobData.keyword,\n  area_name: areaName,\n  area_full_name: areaName,\n  city_name: cityData.name,\n  country_name: countryData.name,\n  admin_id: jobData.assigned_to,\n  max_results: 5 , // Default, can be made configurable\n  completion_webhook: \"http://localhost:5678/webhook/job-completion\"\n};\n\nconsole.log(`Prepared scraper payload for job ${jobData.id}:`, scraperPayload);\n\nreturn {\n  json: scraperPayload\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        1840
      ],
      "id": "99b2d8cb-60f2-470f-971b-76394612ac39",
      "name": "Prepare Scraper Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.18.15:5000/scrape-single",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 60060000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        1840
      ],
      "id": "4ed89b7b-62f8-48fe-9d62-71dae0b85880",
      "name": "Send Job to Scraper Server"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "scraper-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3168,
        1840
      ],
      "id": "4076e335-aab9-46e6-a4b0-4485ac0d06ca",
      "name": "Scraper Started Successfully?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scrape_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Send Job to Scraper Server').first().json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $('Send Job to Scraper Server').first().json.error || 'Failed to start scraper' }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3408,
        1920
      ],
      "id": "3a01d1f2-9dec-4a4b-9972-6022ebaae9bc",
      "name": "Mark Job as Failed",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scrape_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "businesses_found",
              "fieldValue": "={{ $json.body.businesses_found || 0 }}"
            },
            {
              "fieldId": "processing_time_seconds",
              "fieldValue": "={{ Math.round(Number($json.body.processing_time) || 0) }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "logs",
              "fieldValue": "={{ JSON.stringify($json.body) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        2320
      ],
      "id": "5b658d9e-866e-4edf-adec-193e5b2f40ca",
      "name": "Mark Job as Completed",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scrape_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.body.error_message || 'Job processing failed' }}"
            },
            {
              "fieldId": "businesses_found",
              "fieldValue": "={{ $json.body.businesses_found || 0 }}"
            },
            {
              "fieldId": "processing_time_seconds",
              "fieldValue": "={{ Math.round(Number($json.body.processing_time) || 0) }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "logs",
              "fieldValue": "={{ JSON.stringify($json.body) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        2480
      ],
      "id": "637bc25e-5f8e-41b2-876f-feecf7babd56",
      "name": "Mark Job as Failed (Webhook)",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "areas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.area_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_scraped_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        2320
      ],
      "id": "86300aa5-0119-4f6a-913a-d8b8f585f832",
      "name": "Update Area Last Scraped",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Job completion processed\",\n  \"job_id\": $json.body.job_id,\n  \"status\": $json.body.success ? \"completed\" : \"failed\",\n  \"businesses_found\": $json.body.businesses_found || 0,\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        2400
      ],
      "id": "4e3d2824-adb7-4b95-a6d8-cbf3ebecda3a",
      "name": "Respond to Completion Webhook"
    },
    {
      "parameters": {
        "content": "## Job Processing Flow\n\n**Timer (15s)** → **Get Admins** → **Match Jobs** → **Claim Job** → **Send to Scraper**\n\n↓\n\n**Webhook Response** → **Update Job Status** → **Update Area Timestamp**",
        "height": 1184,
        "width": 3800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        1680
      ],
      "typeVersion": 1,
      "id": "8b2a6c9b-d2c5-4ee6-8501-8c6696da9236",
      "name": "Workflow Description"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "countries",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.country_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2448,
        1840
      ],
      "id": "269f1ae9-67dc-4397-b202-fbf72463fa77",
      "name": "Get Country Details1",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-completion",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        2400
      ],
      "id": "544be589-1825-4790-91df-0198f6116c03",
      "name": "Job Completion Webhook1",
      "webhookId": "job-completion-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "job-successful",
              "leftValue": "={{ $json.body.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        2400
      ],
      "id": "22e592df-6010-4d23-9d8c-61a2b143a8bc",
      "name": "Job Completed Successfully?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-country",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        1040
      ],
      "id": "034f1c50-3e36-450f-be3d-faa012b61380",
      "name": "Check Country Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-cities-or-force",
              "leftValue": "={{ $('Check Country Exists').item.json.cities_populated }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1136,
        912
      ],
      "id": "edc94293-de7d-429b-886f-6695674386b1",
      "name": "Check Cities Needed"
    },
    {
      "parameters": {
        "prompt": "=You are a highly knowledgeable geographic data expert specializing in global urban development and economic geography. Your role is to accurately identify and recommend major cities within a given country that are most relevant for business directory and commercial analysis purposes. These cities should include key metropolitan areas, commercial hubs, economic centers, and population-dense urban regions that are likely to have a strong presence of businesses and services.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=List the 20 most important cities in {{ $('Check Country Exists').item.json.name }} for business directory purposes. These should be major metropolitan areas, economic centers, or business hubs.\n\nReturn data in the following clean JSON format (no markdown, no code block, no additional explanation and no ''''):\n\n{\n  \"cities\": [\n    { \"name\": \"City1\" },\n    { \"name\": \"City2\" },\n    { \"name\": \"City3\" },\n    ...\n  ]\n}\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        1392,
        1040
      ],
      "id": "889435af-0998-473d-a8d8-fad3b81c5902",
      "name": "Generate Cities via LLM"
    },
    {
      "parameters": {
        "jsCode": "// Handle errors\nconst error = $json.error || $json.message || 'Unknown error occurred';\n\nconsole.error('Workflow error:', error);\n\nreturn {\n  success: false,\n  error: error,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1136
      ],
      "id": "8e0b45f2-2146-4203-a0dc-ca0143e6f104",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "populate-country",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1040
      ],
      "id": "12a09c47-b031-47d4-9b05-17e320d0eb6c",
      "name": "Populate Country Webhook1",
      "webhookId": "d33fa1bc-ee0f-4d0c-8d24-a1e6de2be400"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        1264
      ],
      "id": "fa9edd54-0e9d-4df9-a581-a10e0fbde0c1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "nChk2A2xdArQkug8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        1264
      ],
      "id": "12c6bade-395a-4fd3-89b1-020dceb35974",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nChk2A2xdArQkug8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"cities\": [\n    { \"name\": \"Mumbai\" },\n    { \"name\": \"Delhi\" },\n    { \"name\": \"Bengaluru\" },\n    { \"name\": \"Chennai\" },\n    { \"name\": \"Hyderabad\" },\n    { \"name\": \"Ahmedabad\" },\n    { \"name\": \"Pune\" },\n    { \"name\": \"Kolkata\" },\n    { \"name\": \"Surat\" },\n    { \"name\": \"Lucknow\" },\n    { \"name\": \"Jaipur\" },\n    { \"name\": \"Chandigarh\" },\n    { \"name\": \"Indore\" },\n    { \"name\": \"Coimbatore\" },\n    { \"name\": \"Kochi\" }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        1264
      ],
      "id": "cb8e5bec-386b-471f-8a30-b48046911ffe",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "countries",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.country_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        1040
      ],
      "id": "cc2be7ad-c04d-4db2-92e2-3c3087dab1c1",
      "name": "Get Country Details",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cities",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "country_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        960
      ],
      "id": "37d9af16-a322-4cdb-bada-7dd2b427346f",
      "name": "Get Existing Cities",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const countryDetails =  $('Check Country Exists').first().json.name // Adjust if the country details node name is different\nconst input = $input.first().json;\n\nconsole.log('Raw Input:', input);\n\nlet cities = [];\n\ntry {\n  if (\n    input.output &&\n    Array.isArray(input.output.cities)\n  ) {\n    cities = input.output.cities\n      .map(city => city.name?.trim())\n      .filter(Boolean);\n  } else {\n    throw new Error('Expected \"output.cities\" structure not found');\n  }\n} catch (err) {\n  throw new Error(`Failed to extract cities: ${err.message}`);\n}\n\n// Clean and limit\nconst cleanCities = cities\n  .filter(city => typeof city === 'string' && city.length > 1)\n  .slice(0, 50); // Adjust max if needed\n\nif (cleanCities.length === 0) {\n  throw new Error('No valid cities extracted from LLM response');\n}\n\n// Format for DB insert\nconst cityRecords = cleanCities.map(cityName => ({\n  country_id: $('Check Country Exists').first().json.id,\n  name: cityName,\n  areas_populated: false,\n  areas_count: 0,\n}));\n\nreturn {\n  country_id: $('Check Country Exists').first().json.id,\n  country_name: $('Check Country Exists').first().json.name,\n  cities_count: cityRecords.length,\n  cities: cityRecords,\n  source: 'ai_generated'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        1040
      ],
      "id": "f5dbad21-7d62-476e-9e20-551e17c6b5f9",
      "name": "Clean AI Cities (for Databse)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://adksicaabkydtniqbgjr.supabase.co/rest/v1/cities",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cities }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        1040
      ],
      "id": "788cafce-7aae-40e4-9932-e57d7f8aebed",
      "name": "Insert All Cities (In Database)",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "countries",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Country Details').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cities_count",
              "fieldValue": "={{ $('Clean AI Cities (for Databse)').item.json.cities_count }}"
            },
            {
              "fieldId": "cities_populated",
              "fieldValue": "TRUE"
            },
            {
              "fieldId": "cities_populated_at",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').replace('Z', '').replace(/(\\.\\d{6})\\d+/, '$1') }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2272,
        1040
      ],
      "id": "974da503-a748-45dd-945c-dda6d5cae7b3",
      "name": "Update Country Status",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cities",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "country_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2496,
        1040
      ],
      "id": "8fef4db8-78d2-4931-aafb-87e24b4ece11",
      "name": "Get Existing Cities (DB)",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-cities-or-force",
              "leftValue": "={{ $json.areas_populated }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        192
      ],
      "id": "cac83726-b124-4afd-a144-137695f07aab",
      "name": "Check Areas Needed"
    },
    {
      "parameters": {
        "content": "## Populate areas for selected city\nThis will be the area for -> When user selects the city, and this section will auto populate areas or fetch them from the DB (if already exists)\n",
        "height": 688,
        "width": 2512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -48
      ],
      "typeVersion": 1,
      "id": "c7780f90-0297-4b23-883b-da44b9fa74d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "areas",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "city_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        128
      ],
      "id": "760d1c2f-53f4-4b1a-8e53-d3a56efcd583",
      "name": "Fetch All Areas from DB",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cities",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.city_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        256
      ],
      "id": "ef3d891f-ad7c-4c2e-a1a0-38eb2d1bd6d9",
      "name": "Get City details",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "countries",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.country_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        368
      ],
      "id": "faea97fc-2549-4f74-8063-c3cc30402533",
      "name": "Fetch Country Details (for prompt)",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nCity: {{ $('Get City details').item.json.name }}\nCountry: {{ $json.name }}\n\nRequirements:\nIdentify and list major well-known areas commonly included in business addresses, commercial hubs, and recognized neighborhoods and separate entries for sub-phases of housing or common societies.\nFocus particularly on areas that hold significant relevance for businesses.\nReturn a total of 20 areas and incase there are phases as well for any society you may return exactly 20 unqiue areas and their corresponding phases(if any). \nRemove any brackets from the names i want simple text for each area\n{\n  \"areas\": [\n    { \"name\": \"Area 1\" },\n    { \"name\": \"Area 2\" },\n    ...\n  ]\n}\n\nDo not add any commentary, markdown, or explanation — just return valid JSON.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an intelligent data assistant helping build a business directory. Your task is to list the most relevant neighborhoods or localities (called \"areas\") within a given city for a country that are useful for business listings."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1232,
        272
      ],
      "id": "39b6ebf5-8da2-42f0-8696-d5d555f22b42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        496
      ],
      "id": "3be3f46e-b751-46fb-9c68-1d39180cf22b",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "nChk2A2xdArQkug8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"areas\": [\n    { \"name\": \"Gulberg\" },\n    { \"name\": \"Model Town\" },\n    { \"name\": \"DHA\" },\n    { \"name\": \"Johar Town\" },\n    { \"name\": \"Wapda Town\" },\n    { \"name\": \"Bahria Town\" },\n    { \"name\": \"Garden Town\" },\n    { \"name\": \"Allama Iqbal Town\" },\n    { \"name\": \"Faisal Town\" },\n    { \"name\": \"Cantt\" },\n    { \"name\": \"Shadman\" },\n    { \"name\": \"Iqbal Town\" }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        496
      ],
      "id": "3e6dfdf2-0f4d-4689-83e3-0dc5d809842b",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsCode": "// N8N JavaScript Code Block - Transform LLM Areas Output for Database Insertion\n\n// Input data from previous node - handle different input formats\nconst inputData = $input.all()[0].json;\n\n// Debug: log the input structure to understand the data format\nconsole.log(\"Input data structure:\", JSON.stringify(inputData, null, 2));\n\n// Extract areas from the nested structure - handle different possible formats\nlet areasData;\nif (inputData.output && inputData.output.areas) {\n    // Format: { \"output\": { \"areas\": [...] } }\n    areasData = inputData.output.areas;\n} else if (Array.isArray(inputData) && inputData[0] && inputData[0].output && inputData[0].output.areas) {\n    // Format: [{ \"output\": { \"areas\": [...] } }]\n    areasData = inputData[0].output.areas;\n} else if (inputData.areas) {\n    // Format: { \"areas\": [...] }\n    areasData = inputData.areas;\n} else {\n    throw new Error(\"Cannot find areas data in input. Please check the input structure.\");\n}\n\n// Transform areas data to match the required format\nconst transformedAreas = areasData.map(area => {\n    return {\n        city_id: $('Get City details').first().json.id, // You'll need to set this based on your city lookup logic\n        name: area.name,\n        last_scraped_at: null, // Set to null as requested\n        created_at: new Date().toISOString() // Current timestamp\n    };\n});\n\n// Return in the structured format similar to your example\nconst result = [{\n    city_id: $('Get City details').first().json.id, // Set this to the actual city ID\n    city_name: $('Get City details').first().json.name, // Set this to the actual city name\n    areas_count: transformedAreas.length,\n    areas: transformedAreas,\n    source: \"ai_generated\"\n}];\n\n// Return the result for n8n\nreturn result.map(item => ({ json: item }));\n\n// Alternative: If you have city information available from a previous node\n/*\n// Assuming you have city info from a previous node\nconst cityInfo = $node[\"Previous City Node\"].json; // Adjust node name as needed\n\nconst result = [{\n    city_id: cityInfo.city_id,\n    city_name: cityInfo.city_name,\n    areas_count: transformedAreas.length,\n    areas: transformedAreas,\n    source: \"ai_generated\"\n}];\n*/"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        368
      ],
      "id": "cf540a9f-7cca-464a-a09c-05086edb58b6",
      "name": "Get Ready for Database Insertion"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "populateareas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        336,
        256
      ],
      "id": "b95e7984-94c4-44ea-a4da-07be373a22a0",
      "name": "Populate Areas",
      "webhookId": "3cbf8c56-f36c-4375-b211-bfac8c1d4e9a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2720,
        912
      ],
      "id": "fd908546-8f8f-41b2-9bc6-70629a2b8364",
      "name": "Return Cities List"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2528,
        256
      ],
      "id": "f171f54a-b842-4f2d-98b2-f568a94ef3e2",
      "name": "Return Areas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://adksicaabkydtniqbgjr.supabase.co/rest/v1/areas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.areas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        368
      ],
      "id": "56d45127-9345-4311-af54-f46bb9ee4b39",
      "name": "Insert All Areas(In Database)",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cities",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get City details').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "areas_populated",
              "fieldValue": "TRUE"
            },
            {
              "fieldId": "areas_populated_at",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').replace('Z', '').replace(/(\\.\\d{6})\\d+/, '$1') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        368
      ],
      "id": "a6fe261c-2bef-45eb-9b28-d1f3e4717f28",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "areas",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "city_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        368
      ],
      "id": "22901af5-0229-419d-8f18-de4f32368c8d",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fetch Countries and populate cities\nSection: User selects a country -> Fetch Cities (if existing from DB) or populate them from LLM",
        "height": 640,
        "width": 2752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        832
      ],
      "typeVersion": 1,
      "id": "971f96c7-f417-42a2-a537-528e0df95924",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "more-areas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        3344
      ],
      "id": "c2096445-efd1-4e6f-9bea-577162acae03",
      "name": "access more areas webhook",
      "webhookId": "19ee84ba-c301-4b2f-9d06-b1b060c46662"
    },
    {
      "parameters": {
        "jsCode": "// Safely access body payload\nconst payload = $json.body;\n\n// Validate payload exists\nif (!payload || !payload.keywords) {\n    return [{ json: { error: \"Missing 'keywords' field in request body.\" } }];\n}\n\n// Extract keywords from body\nconst input = payload.keywords;\n\nlet keywordsArray = [];\n\nif (Array.isArray(input)) {\n    keywordsArray = input.map(k => k.toString().trim());\n} else if (typeof input === 'string') {\n    keywordsArray = [input.trim()];\n} else {\n    return [{ json: { error: \"Invalid 'keywords' input format. Expecting string or array.\" } }];\n}\n\n// Pass forward normalized data\nreturn [\n    {\n        json: {\n            country_name: payload.country_name || null,\n            country_ID: payload.country_ID || null,\n            city_name: payload.city_name || null,\n            keywords: keywordsArray\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        3344
      ],
      "id": "4aa78c3a-55db-4611-95ad-fcaaef8b67bf",
      "name": "Code2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert prompt designer specializing in location-specific business intelligence tasks.\n\nYour goal:\nGiven city {{ $json.city_name }}, country {{ $json.country_name }} and one or more business keywords {{ $json.keywords }}, you must create a highly effective and location-aware prompt for another LLM to find business areas.\n\nRules for the prompt you produce:\n1. The other LLM will also be given:\n   - The list of \"existing_areas\" (as a separate variable, NOT embedded in the prompt text).\n   - The same city, country, and keywords.\n2. Instruct the other LLM to exclude all areas present in \"existing_areas\".\n3. Require the other LLM to output ONLY a clean JSON object in this exact format:\n{\n  \"areas\": [\n    { \"name\": \"Area Name 1\" },\n    { \"name\": \"Area Name 2\" }\n  ]\n}\n4. Tell it to include:\n   - Well-known commercial markets and bazaars\n   - Societies and residential areas subdivided into phases, sectors, blocks, or streets where such businesses are present\n   - Informal markets and slums with trading activity\n   - Newly emerging commercial developments\n   - Popular streets or roads with dense business presence\n   - Sub-markets, plazas, arcades, and wholesale hubs related to the business keywords\n5. Ensure the generated prompt is dynamic, optimized for the given location, and enforces strict boundaries to the target city.\n\nYour output should be only the final prompt text, no explanations or commentary.\n\nReturn only ONE final prompt.\nDo not provide variations, rewrites, or multiple options.\nDo not output anything except the single prompt text.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1424,
        3152
      ],
      "id": "cdedb2c0-907a-4fe1-8542-9a262d8dbb3a",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        3376
      ],
      "id": "8f6b28fe-51c3-4a04-bc6e-942b49f84257",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "nChk2A2xdArQkug8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Accessing first item's 'text' field properly\nconst rawText = items[0].json.text || '';\n\n// Clean code block syntax (```json ... ```)\nconst cleanedJsonString = rawText\n  .replace(/```json\\n/, '')  // Remove opening ```json\n  .replace(/```/, '')        // Remove closing ```\n  .trim();\n\n// Parse as JSON\nlet parsedData;\ntry {\n  parsedData = JSON.parse(cleanedJsonString);\n} catch (error) {\n  throw new Error('Invalid JSON structure inside code block');\n}\n\n// Extract 'name' from each area object\nconst areaNames = parsedData.areas.map(area => area.name);\n\n// Return as JSON field\nreturn [\n  {\n    json: {\n      area_names: areaNames\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        3152
      ],
      "id": "42d1c123-e768-4777-a0f1-c93979280e2a",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cities",
        "filters": {
          "conditions": [
            {
              "keyName": "country_id",
              "keyValue": "={{ $json.country_ID }}"
            },
            {
              "keyName": "name",
              "keyValue": "={{ $json.city_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        3472
      ],
      "id": "0c3ba3c4-649e-4625-835e-517476c69b62",
      "name": "Get a row3",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assuming input is an array of area objects\nconst areasData = items.map(item => item.json);\n\n// Extract names into a flat array\nconst existingAreas = areasData.map(area => area.name);\n\n// Return this array as a JSON field for prompt usage\nreturn [\n    {\n        json: {\n            existing_areas: existingAreas\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        3536
      ],
      "id": "d81d33b4-ec2c-4700-8e6b-2bc5e5431f0e",
      "name": "Code4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        3152
      ],
      "id": "60c89010-ca28-404f-a9d4-e41a3c94d24c",
      "name": "Merge"
    },
    {
      "parameters": {
        "tableId": "areas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "city_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.area_names }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        3280
      ],
      "id": "725ac4a1-152e-41f7-a09b-bff6ae2cb64a",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2672,
        3280
      ],
      "id": "a629880b-e6e9-44b8-ae83-5c0fea925a36",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "area_names",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2448,
        3152
      ],
      "id": "3a5b3d5c-a227-4c8f-bd90-863bd1a5ecc8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\nexisting areas: {{ $('Merge').item.json.existing_areas }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1824,
        3152
      ],
      "id": "f2035696-903a-4cf9-80bd-893271e71030",
      "name": "Basic LLM Chain4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1920,
        3376
      ],
      "id": "82c2f10a-fdc7-4166-9058-f9740f54ffed",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "nChk2A2xdArQkug8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "areas",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "city_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        3536
      ],
      "id": "99a084d0-9981-4cc6-8000-0d3a8d2edaa6",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "admins",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        2000
      ],
      "id": "9c62ffad-aa7e-413a-9413-7c9b37288876",
      "name": "Get Active Admins",
      "credentials": {
        "supabaseApi": {
          "id": "j0UndgmyFzRvr6KL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3104,
        3280
      ],
      "id": "21158d8b-d5f3-4634-ab42-42f8c4c39042",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "Add more areas based on keywords/ontext",
        "height": 672,
        "width": 3520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        3120
      ],
      "typeVersion": 1,
      "id": "fc857aab-1cd4-4684-a814-9493d2e219bd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test-connection",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        3968
      ],
      "id": "44ff9ad0-30dd-4193-bdd8-bb409e9ead1f",
      "name": "Webhook-test-connection",
      "webhookId": "d9bb73d2-6351-439c-b08f-01c52ae44263"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status_code\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        3968
      ],
      "id": "17b026b7-f1fc-40b0-bac9-b05d730ad171",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Job Polling Timer (15s)": {
      "main": [
        [
          {
            "node": "Get Active Admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Admin Capacity": {
      "main": [
        [
          {
            "node": "Get Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Jobs": {
      "main": [
        [
          {
            "node": "Has Pending Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Jobs?": {
      "main": [
        [
          {
            "node": "Match Jobs to Admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Jobs to Admins": {
      "main": [
        [
          {
            "node": "Has Job Assignments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Job Assignments?": {
      "main": [
        [
          {
            "node": "Claim Job (Update Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Job (Update Status)": {
      "main": [
        [
          {
            "node": "Get Area Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Area Details": {
      "main": [
        [
          {
            "node": "Get City Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City Details": {
      "main": [
        [
          {
            "node": "Get Country Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scraper Payload": {
      "main": [
        [
          {
            "node": "Send Job to Scraper Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Job to Scraper Server": {
      "main": [
        [
          {
            "node": "Scraper Started Successfully?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraper Started Successfully?": {
      "main": [
        [],
        [
          {
            "node": "Mark Job as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job as Completed": {
      "main": [
        [
          {
            "node": "Update Area Last Scraped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Job as Failed (Webhook)": {
      "main": [
        [
          {
            "node": "Respond to Completion Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Area Last Scraped": {
      "main": [
        [
          {
            "node": "Respond to Completion Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Country Details1": {
      "main": [
        [
          {
            "node": "Prepare Scraper Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Completion Webhook1": {
      "main": [
        [
          {
            "node": "Job Completed Successfully?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Completed Successfully?1": {
      "main": [
        [
          {
            "node": "Mark Job as Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Job as Failed (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Country Exists": {
      "main": [
        [
          {
            "node": "Get Existing Cities",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cities Needed": {
      "main": [
        [
          {
            "node": "Generate Cities via LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Cities List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Populate Country Webhook1": {
      "main": [
        [
          {
            "node": "Get Country Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Cities via LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Cities via LLM",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Cities via LLM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Country Details": {
      "main": [
        [
          {
            "node": "Check Country Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Cities": {
      "main": [
        [
          {
            "node": "Check Cities Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cities via LLM": {
      "main": [
        [
          {
            "node": "Clean AI Cities (for Databse)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI Cities (for Databse)": {
      "main": [
        [
          {
            "node": "Insert All Cities (In Database)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert All Cities (In Database)": {
      "main": [
        [
          {
            "node": "Update Country Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Country Status": {
      "main": [
        [
          {
            "node": "Get Existing Cities (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Areas Needed": {
      "main": [
        [
          {
            "node": "Fetch All Areas from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Country Details (for prompt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City details": {
      "main": [
        [
          {
            "node": "Check Areas Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Country Details (for prompt)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get Ready for Database Insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Populate Areas": {
      "main": [
        [
          {
            "node": "Get City details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Cities (DB)": {
      "main": [
        [
          {
            "node": "Return Cities List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Areas from DB": {
      "main": [
        [
          {
            "node": "Return Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready for Database Insertion": {
      "main": [
        [
          {
            "node": "Insert All Areas(In Database)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert All Areas(In Database)": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Return Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access more areas webhook": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Admins": {
      "main": [
        [
          {
            "node": "Process Admin Capacity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-test-connection": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8705257-dab2-4173-94c4-9e766085fe5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6515ceac859aab4d8dfd6de5559c127e19826a77dab270cf6094d93aaeb7594c"
  },
  "id": "5DFeBfTVmljut3ox",
  "tags": []
}